<% if obj.errors.any? %>
	<div class = "alert alert-danger col-md-8 col-md-offset-2">
		<h5>please correct following errors</h5>
		<ul>
			<% obj.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>